@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{

    background-color:#080808;
    color : #fff;
}
#header{
    width: 100%;
    height: 100vh; 
    background-image: url(image/pic.jpeg);
    background-size: cover;
    background-position: center;
    position: sticky;
}
.container{
    padding: 0 5%;
    position: sticky;
}
.logo {
    width: 120px;
}
nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 3vh;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-left: 10%;
    margin-top: 15%;
    font-size: 20px;   
}
.header-text p{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-size: 28px;
}
.wisteria {
    color: #8e44ad;
  }
  
  .belize {
    color: #2980b9;
  }
  
  .pomegranate {
    color: #c0392b;
  }
  
.word {
    position: absolute;
    width: 220px;
    opacity: 0;
}
.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
.header-text h1 span1{
    font-size: 45px;
}
.icons{
    margin-top: 20px;
}
.icons a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 10px;
    border-radius: 50%; /* Make the icons circular */
    width: 50px; /* Set the width of the circular border */
    height: 50px; /* Set the height of the circular border */
    line-height: 50px; /* Vertically center the icon within the circle */
    text-align: center;
    border: 2px solid white; 
    transition: transform 0.3s ease;  
}

.icons a:hover{
    transform: scale(1.5); 
}

.icons a i {
    font-size: 30px; /* Adjust the icon size */
}
.ri-instagram-line{
    color: #E1306C;
    #0077B5
}
.ri-linkedin-line{
    color:#0077B5 ;
}
.icons a[href^="mailto:"] {
    color: #FFD700; /* Add background color to email icon */
}

.ri-whatsapp-line{
    color: #25D366;
}
.ri-phone-line{
    color: #00ff62;
}
/*---------------------about------------------------*/

#about{
    color: #ababab;
    margin-top: 5%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    margin-left: 10%;
    max-width: 90%;
    max-height: 90%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size:60px;
    font-weight: 600;
    color: white;
}
.text{
    line-height: 30px;
}
.tab-titles{
    display: flex;
    margin: 20px 40px;
}
.tab-links{
    margin-right: 50px;
    font-size:18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition:0.5s ;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    line-height: 30px;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

nav .fa-solid{
    display: none;
}
/*-----------------------------------interests page------------------------------*/
.interests{
    margin-left:10% ;
    margin-right: 15%;
    margin-top: 0%;
}
.title{
    line-height: 2.5cm;
    font-size: 20px;
}
.icon-box {
    background-color: rgb(33, 30, 30);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 280px; /* 33.33% width for each box */
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.3s;
}
.icon-box:hover {
    background-color: black;
    cursor: pointer;
    -ms-transform: scale(0.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.icon-box i {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.title a{
    position: relative;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: bold;
} 
.title a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #e90000;
    bottom: -8px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.title a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.icon-box i span {
    margin-left: 10px;
}

.container-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/*----------------CSS for responsive---------*/

@media only screen and (max-width:600px){
    #header{
        background-image: url("image/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: 0;
    }
    .header-text{
        margin-top: 60%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .header-text h1 span1{
        font-size: 20px;    
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: black;
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.8s;
    }
    nav ul li{
        display: block;
        margin: 20px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Arrange icons in 4 columns */
        gap: 1px; /* Add spacing between icons */
        justify-items: start ; /* Center icons horizontally within columns */
        margin-top: 50px; /* Add spacing between text and icons */
        margin-right:   110%; /* Negative margin to reduce the gap on the right */
        padding-right: 10px; 
        margin-left: 0px;
    }
    .icons a{
        width: 30px; /* Set the width of the circular border */
        height: 30px; /* Set the height of the circular border */
        line-height: 30px; 
    }
    .icons a i {
        font-size: 20px; /* Adjust the icon size */
        align-items: center;
    }

    /*about section*/
    .about-col-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-col-1 img{
        max-width: 100%;
        max-height: 100%;
        border-radius: 15px;
        margin: 0;
    }
    .sub-title{
       font-size:40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
        align-content: justify;
        align-items: center;
    }
    .container-1{
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .icon-box{
        align-items: center;
    }
}
